<div class="card">
    <h1><a href="">添加问卷调查信息</a></h1>
    <p><a href="/admin/create_survey">点击此处</a>添加新的问卷调查表。</p>
</div>

<div class="card">
    <h1><a href="">编辑问卷信息</h1>
    <p><a href="/admin/create_survey">点击此处</a>添加新的问卷调查表。</p>
</div>

<div class="card">
    <h1><a href="">查看用户作答情况</h1>
    <p><a href="/admin/create_survey">点击此处</a>添加新的问卷调查表。</p>
</div>

<div class="card">
    <h1><a href="">邀请用户填写问卷</h1>
    <p><a href="/admin/create_survey">点击此处</a>添加新的问卷调查表。</p>
</div>
