<div class="card">
    <h1>添加问卷调查信息</h1>
    <p><a href="/admin/create_survey">点击此处</a>添加新的问卷调查表。</p>
</div>

<div class="card">
    <h1>编辑问卷信息</h1>
    <p><a href="/admin/create_survey">点击此处</a>添加新的问卷调查表。</p>
</div>

<div class="card">
    <h1>查看用户作答情况</h1>
    <p><a href="/admin/create_survey">点击此处</a>添加新的问卷调查表。</p>
</div>

<div class="card">
    <h1>邀请用户填写问卷</h1>
    <p><a href="/admin/create_survey">点击此处</a>添加新的问卷调查表。</p>
</div>
