<div class="card">
    <h1>添加问卷调查信息</h1>
    <p><a href="/admin/add">点击此处</a>添加新的问卷调查表。</p>
</div>

<div class="card">
    <h1>查看已发布的问卷</h1>
    <p><a href="/admin/edit">点击此处</a>查看已经发布的问卷。</p>
</div>

<div class="card">
    <h1>查看用户作答情况</h1>
    <p><a href="/admin/invest">点击此处</a>查看用户作答情况。</p>
</div>

<div class="card">
    <h1>邀请用户填写问卷</h1>
    <p><a href="/admin/invite">点击此处</a>邀请用户。</p>
</div>
