<%- include('../header.ejs') %>

<div class="card">
<div class="center_box">
  <h2 style="text-align: cenetr">创建教师账户：</h2>
  <br><br>

  <form action="/register/add/teacher" method="post">
  教师号<text style="color: red;">*</text><br>
	<input type="text" name="teacher_id" required><br><br>

  电子邮箱<br>
  <input type="email" name="email"><br><br>

  性别 <text style="color: red;">*</text><br>
  <select id="login-type" name="sex">
      <option value="unknow">保密</option>
      <option value="male">男</option>
      <option value="female">女</option>
  </select><br><br/>

  年龄:
  <input type="number" name="age" min="0" max="120"><br><br>

  所属院校<br>
  <input type="text" name="school"><br><br>

  <input type="submit" value="注册"/>
	<% if (typeof errorMessage !== 'undefined') { %>
	<p style="color: red;"><%= errorMessage %></p>
	<% } %>

</div>
</div>

<%- include('../footer.ejs') %>
