<%- include('header.ejs') %>

<div class="card">
	<div class="login_box">
		<h1 style="text-align: cenetr">About</h2><br>
		<p>咱不知道说些什么但是总要预留出这么一个关于页面。</p>
		<p>实际关于咱的信息咱一字都没提到</p>
		<p>但咱还要写一些东西进去</p>
		<p>这样咱才能给人感觉好像这个网站有很多内容</p>
		<p>但实际上这些东西都一点用都没有</p>
		<p>不过字数足够多肯定是好的</p>
		<br>
		<h2>有关这个网站</h2>
		<p>要不咱来讲讲咱把我的世界服务器关掉用来部署这个<s>垃圾</s>网站这件事吧</p>
		<p>反正这些文字在给老师演示的时候都要删掉</p>
		<hr>
		<p>大型精分现场</p>
    <p>咱如是说道。</p>
	</div>
</div>

<%- include('footer.ejs') %>
