
</div> <!-- leftcolumn -->


<%- include('right-bar.ejs') %>

</div> <!-- row -->

<div class="footer">
    <div>
        <h2>Survey.</h2>
        <p>@STARRY-S | Fork me on <a href="https://github.com/STARRY-S/Survey">GitHub</a>.</p>
  </div>
</div>

</body>
</html>
