<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#33363b">
    <meta name="msapplication-TileColor" content="#33363b">
    <link rel="stylesheet" href="/css/normalize.css">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
<div class="header">
  <h1>高校问卷调查系统</h1>
  <!-- <p>欢迎大家前来填写。</p> -->
</div>

<div class="topnav">
  <a href="/">主页</a>
  <a href="/about">关于</a>
  <a href="/frient">友情链接</a>
  <a href="/login" style="float:right">登录</a>
</div>
