<%- include('header.ejs') %>

<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/index.css">

<div class="center_box">
    <h1>问卷调查系统</h1>
    <br><br>
    <p>问卷部分尚未完工。</p>
</div>

<%- include('footer.ejs') %>
