<%- include('./header.ejs') %>

<script src="/js/qrcode.js"></script>

<div class="card">

    <h1>分享二维码，邀请用户前来填写调查问卷！</h1>
    <hr>

    <div class="center">
      <div id="qrcode"></div>
    </div>

    <script type="text/javascript">
      const hostname = window.location.hostname || "127.0.0.1";
      const port = window.location.port || '';
      new QRCode(
        document.getElementById("qrcode"), {
          text: 'http://' + port == '' ? `${hostname}` : `${hostname}:${port}`,
        });
    </script>

</div>

<%- include('./footer.ejs') %>
