<%- include('header.ejs') %>

<div class="card">
	<div class="login_box">
		<h2 style="text-align: cenetr">请登录</h2><br>
		<% if (typeof surveyName !== 'undefined') { %>
			<form action="/login/auth?title=<%= surveyName %>" method="post">
		<% } else { %>
			<form action="/login/auth" method="post">
		<% } %>
		用户名:<br>
		<input type="text" name="username" placeholder="Username" required><br><br>
		密码:<br>
		<input type="password" name="password" placeholder="Password" required><br><br>
	    <select id="login-type" name="type">
	        <option value="student">学生</option>
	        <option value="teacher">教师</option>
	        <option value="admin">管理员</option>
	    </select><br><br/>
	    <input type="submit" value="登录"/>
			<% if (typeof errorMessage !== 'undefined') { %>
			<p style="color: red;"><%= '登录失败：' + errorMessage %></p>
			<% } %>
	    <p class="register">新用户请<a class="register" href="/register">点此注册</a></p>
	    </form>
	</div>
</div>


<%- include('footer.ejs') %>
