<div class="rightcolumn">

  <div class="card">
    <h2>问卷调查</h2>
    <hr>
    <!-- <div class="fakeimg" style="height:100px;"></div> -->
    <p><%= site.description %></p>
  </div>

  <div class="card">
    <h2>网址导航</h2>
    <hr>
    <li style="margin: 10px 20px;"><a style="color: #000;" href="/">主页</a></li>
    <li style="margin: 10px 20px;"><a style="color: #000;" href="/about">关于</a></li>
    <li style="margin: 10px 20px;"><a style="color: #000;" href="/friends">友情链接</a></li>
    <li style="margin: 10px 20px;"><a style="color: #000;" href="/invite">分享本站</a></li>
  </div>

  <div class="card">
    <h2>友情链接</h2>
    <hr>
    <li style="margin: 10px 20px;">
      <a style="color: #000;" href="https://github.com">GitHub</a></li>
  </div>

  <div class="card">
    <h2>关于本站</h2>
    <hr>
    <p>仍在建设中，敬请期待..</p>
  </div>

</div>
