<div class="rightcolumn">

  <div class="card">
    <h2>问卷调查</h2>
    <div class="fakeimg" style="height:100px;">我是头像</div>
    <p><%= site.description %></p>
  </div>

  <div class="card">
    <h3>友情链接</h3>
    <div class="fakeimg"><p>假装我是一张图片</p></div>
    <div class="fakeimg"><p>假装我是另一张图片</p></div>
    <div class="fakeimg"><p>我也是图片</p></div>
  </div>

  <div class="card">
    <h3>关于本站</h3>
    <p>仍在建设中，敬请期待..</p>
  </div>

</div>
