<%- include('header.ejs') %>

<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/index.css">

<div class="center_box">
    <p>登录成功.</p>
</div>

<%- include('footer.ejs') %>
