* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 0px;
  background: #e2e2e2;

}

.header {
  padding: 20px;
  padding-bottom: 5px;
  text-align: left;
  background-color: #073850;
  /* background: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center; */
}

.header h1 {
  color: #f1f1f1;
}

.header p {
  color: #fff;
}

.topnav {
  padding: 5px;
  overflow: hidden;
  background-color: #235375;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #5ae5f7;
  color: black;
}

.leftcolumn {
  float: left;
  width: 73%;
  padding: 10px;
  margin-left: 20px;
  background-color: #dadada;
  box-shadow: 0 0.5em 1em 0.5em rgba(0,0,0,0.19);
}

.row {
  margin-left: 10%;
  margin-right: 10%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: rgba(#f2f2f2, 0.25);
  padding-left: 15px;
  padding-right: 15px;
  /* box-shadow: 0 0.5em 1em 0.5em rgba(0,0,0,0.19); */
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Footer */
.footer {
  position: auto;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #092d3e;
  margin-bottom: 0px;
}

.footer div {
  margin: 5px;
  padding: 10px;
}

.footer h2 {
  color: #f1f1f1;
}

.footer p {
  color: white;
}

.footer a {
  color: #e6eded;
  text-decoration: none;
}

.footer a:hover {
  color: #acc7c7;
}

@media only screen and (max-width: 1000px) {
  .leftcolumn, .rightcolumn {
    margin-left: 0px;
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 1500px) {
  .row {
    margin: 0px;
  }
}
