
<% if (typeof question_list !== 'undefined') { %>
  <% if (question_list.length > 0) { %>

    <% for (let i = question_list.length - 1; i >= 0; --i ) { %>
      <% let title = question_list[i] %>
      <div class="card">
        <h1><%= title %></h1>
        <hr>
        <p><a href="/?title=<%= title %>">单击此处</a>填写问卷。</p>
      </div>
    <% } %>

  <% } %>
<% } else if (typeof obj_list !== 'undefined') { %>

<div class="card">

  <h1><%= obj_list[0] %></h1>
  <hr>
  <form action="/submit" method="post">
    <%- include('../render_question') %>
    <input type="submit" name="submit" value="提交" />
  </form>

</div>

<% } else { %>

<div class="card">

  <h1>Oops!管理员还没有添加任何调查问卷</h1>
  <hr>
  <p>敬请期待~</p>

</div>

<% } %>
