
<% if (typeof question_list !== 'undefined') { %>
  <% if (question_list.length > 0) { %>

    <% for (let i = 0; i < question_list.length; ++i ) { %>
      <% let title = question_list[i] %>
      <div class="card">
        <h1><%= title %></h1>
        <p><a href="/?<%= title %>">单击此处</a>填写问卷。</p>
      </div>
    <% } %>

  <% } %>
<% } %>
